* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-areas:
    'a a a b b'
    'a a a b b'
    'c c d d d'
    'c c e e e'
    'c c e e e'
  ;
  gap: 9px;
  width: 50%;
  margin: auto;
}

main div {
  padding: 2cm;
}

.item-a {
  background-color: #ee4527;
  grid-area: a;
}

.item-b {
  background-color: #ffa500;
  grid-area: b;
}

.item-c {
  background-color: #1cb71c;
  grid-area: c;
}

.item-d {
  background-color: #19bcf3;
  grid-area: d;
}

.item-e {
  background-color: #19bcf3;
  grid-area: e;
}